<mat-vertical-stepper [linear]="isLinear" #stepper class="container" color="primary">
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Profile</ng-template>
        <app-profile [firstFormGroup]="firstFormGroup" (formGroupEmitter)="listenToFormGroup($event)"></app-profile>
        <div>
            <button color="primary" mat-raised-button matStepperNext class="right">Next</button>
          </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" color="secondary">
      <ng-template matStepLabel>Skills</ng-template>
      <app-skills></app-skills>
      <div fxLayoutAlign="start end" >
      <button mat-raised-button matStepperPrevious color="accent" class="left">Back</button>
          <button mat-raised-button matStepperNext color="primary" class="right">Next</button>
        </div>
     
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>