<form [formGroup]="firstFormGroup">
 
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col s6">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required >
          </mat-form-field>
        </div>
        <div class="col s6">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required >
          </mat-form-field>
        </div>
        <div class="col s6">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" required >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>LinkedIn</mat-label>
            <input matInput formControlName="linkedin" required >
           
          </mat-form-field>
        </div>
        <div class="col s6">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Github</mat-label>
            <input matInput formControlName="github" >
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>
