.mat-card{
    margin-top:0.25em;
    .mat-card-header{
        .mat-card-title{
            .delete-item{
                position: absolute;
                right:0px;

            }
        }
    }
}